  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true}}
        <a class="navbar-brand" href="#">
          <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/moose.png?alt=media&token=e0ec40aa-38fb-4c2b-8a38-9cf33d0afbff"/>
         </a>
      {{/paper-button}}
      <h1>
        fabbrikka
      </h1>
      <span class="flex"></span>
      {{#paper-button iconButton=true}}
        <a href="#">
          <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/cart.png?alt=media&token=fea4bdd8-81ff-4b91-9ff4-d67568ce8800"/>
        </a>
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  
{{outlet}}
