<div class="row">
  <div class="col-sm-12 col-md-12">
  <div class="carousel-caption">
  	<h1>Welcome to fabbrikka</h1>
  	<h2>where mooses get their sweeet fur</h2>
  </div>
  	<img class="img-responsive center-block" src="http://i.imgur.com/6NIohRH.gif">
  </div>
 </div>