<!-- http://stackoverflow.com/questions/23535289/bootstrap-3-disable-navbar-collapse -->
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
     <div class="">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a class="navbar-brand" href="#">
                    <img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/moose.png?alt=media&token=e0ec40aa-38fb-4c2b-8a38-9cf33d0afbff"/>
                </a>
            </li>
            <li data-match-route="/"><a href="#/page-one">shop</a></li>
            <li data-match-route="/"><a href="#/page-two/sub-a">about</a></li>
        </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/fabbrikka-app.appspot.com/o/cart.png?alt=media&token=fea4bdd8-81ff-4b91-9ff4-d67568ce8800"/></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>