@import "bootstrap";

// remove rounded border
* {
  border-radius: 0 !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 3%;
    margin-bottom: 3%;
}

//navbar stuff -> see navbar.hbs
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
    border-bottom-color: #e7e7e7;
}

.thumbnail {
    cursor: pointer;
    border: 0 none;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 1px 1px 7px 2px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    padding: 0px;
    overflow: hidden;
}

.thumbnail img{
    display: block;
}

.thumbnail-hover{
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1)
}

.thumbnail-hover:hover{
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 6px 5px 7px 2px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.flat-button{
    float: right;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    -webkit-transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
}

.flat-button:hover{
  background-color: #fcfcfc;
      -webkit-transition: all .8s ease; /* Safari and Chrome */
    -moz-transition: all .8s ease; /* Firefox */
    -o-transition: all .8s ease; /* IE 9 */
    -ms-transition: all .8s ease; /* Opera */
    transition: all .8s ease;
  }

.carousel-caption {
    left: 5%;
    right: 20%;
    padding-bottom: 30px;
    text-align: left;
    top: 0%;
}

.products-overview{
	margin-top: 30px
}

.img-hover img{
    -webkit-transition: all .8s ease; /* Safari and Chrome */
  	-moz-transition: all .8s ease; /* Firefox */
  	-o-transition: all .8s ease; /* IE 9 */
  	-ms-transition: all .8s ease; /* Opera */
  	transition: all .8s ease;
}
.img-hover img:hover{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.02); /* Safari and Chrome */
    -moz-transform:scale(1.02); /* Firefox */
    -ms-transform:scale(1.02); /* IE 9 */
    -o-transform:translatZ(0) scale(1.02); /* Opera */
    transform:translatZ(0) scale(1.02);
}

.caption p{
    width: 10%;
    float: left;
}

@media(max-width:767px){
	 .carousel-caption{
	 	display: none
	 }

	 .thumbnail{
	 	/*margin-left: 10%;
	 	margin-right: 10%;*/
	 }

	 .thumbnail img{
   width:100%
	 /*	margin: 0px */
	 }

}
